@import url("http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700");
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap");
$roboto-slab: "Roboto Slab", serif;
$signika: "Signika", sans-serif;

body {
  font-family: $signika;
}

h1 {
  font-family: $roboto-slab;
  font-size: 1.25rem;
}

li {
  list-style-type: none;
}

img {
  max-width: 50%;
  border-radius: 5px;
}

table {
  margin: 0.5rem;

  td {
    padding: 0.5rem;
  }

  tr {
    padding-right: 1rem;
  }

  th {
    padding-right: 1rem;
  }
}
